/* BACKGROUND */
::selection, .button, #home_icon, .tags li:hover, #flickrphotos_blog.thumbs li img:hover  {background-color: #54b00f;}

.blog-bar, #logotype, .button_down, #description, #filters li.active, #skill .bar, .flickr_title{background-color: #54b00f;}

 .menu_trigger.active, .mobileAreaMenu li, .services_tab.active, .newsletter{background-color: #54b00f!important;;}


/* BACKGROUND RGBA */
.over {background-color: rgba(84,176,15,.9);}
.ie8 .over {background-color: #54b00f;}

/* BORDER */
.team_details {
	border-top: 5px solid #54b00f;
}

#footer {
	border-top: 5px solid #54b00f;
}

/* COLOR */
a, #filters li:hover a, .blog-boddy a:hover, .post-info .post-author:hover, .tweet_list a, .caption_color {color:#54b00f;}
.descripcion_services p {color:#54b00f;}

/* PAGE TITLE */

.page_title {background: #54b00f url('../../images/bg/titlepattern.png');}


.divider_title.about {
	background-image: url(../../images/skins/green/about_line.png);	
}
.divider_title.team {
	background-image: url(../../images/skins/green/team_line.png);	
}
.divider_title.portfolio {
	background-image: url(../../images/skins/green/portfolio_line.png);	
}
.divider_title.services {
	background-image: url(../../images/skins/green/services_line.png);	
}
.divider_title.blog {
	background-image: url(../../images/skins/green/blog_line.png);	
}
.divider_title.contact {
	background-image: url(../../images/skins/green/contact_line.png);	
}

.icon_views {
	background-image: url(../../images/skins/green/views.png);
	background-repeat: no-repeat;
	min-height: 40px;
	background-position: center;

}
.icon_loves {
	background-image: url(../../images/skins/green/heart.png);
	background-repeat: no-repeat;
	min-height: 40px;
	background-position: center;
}

.icons {margin-bottom:15px;}
.icon_comments {
	background-image: url(../../images/skins/green/comment.png);
	background-repeat: no-repeat;
	min-height: 40px;
	background-position: center;
}
